.idea
projects/java_dann/build
projects/dannalyzer/build
projects/java_dann_examples/build
projects/jung_dann/build
projects/neuroph_dann/build
projects/rdf_dann/build
*.iml
log.html
log.htm
junit*.properties
cobertura.ser
dist
nbproject
.DS_Store
